.greeting {
  color: #0e71c8;
  font-size: 32px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.home_box {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  justify-content: center;
  align-items: center;
}

.btns_box {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 600px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.homeBtn {
  padding: 10px 15px;
  white-space: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 150px;
  font-weight: 500;
}
