.role_switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #1da1f2;
  outline: none;
  width: 70%;
}

.role_switcher:focus {
  border: 2px solid #1991db;
  box-shadow: 0 0 0 3px rgba(29, 161, 242, 0.3);
}
