@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

.loginForm {
  width: 100%;
  max-width: 400px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  flex-shrink: 0;
}

.formGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.checkGroup {
  background: transparent;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 10px;
}

.formTitle {
  text-align: center;
  margin: 0;
  font-weight: 600;
}

.loginbtn {
  align-self: center;
  width: 100%;
}

.loginLabel {
  width: auto;
}

.passwordInput {
  font-weight: 900;
}

.linkGroup {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  column-gap: 5px;
  width: 100%;
}

.loginText {
  margin: 0;
}

.loginLink {
  text-decoration: none;
  outline: none;
  color: #1da1f2;
  cursor: pointer;
}

.loginLink:hover {
  color: #0d8bd9;
}

.loginLink:active {
  color: #0a7abf;
}
