.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main_content {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  padding: 30px 0px 40px 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}
