.post {
  border: 3px solid #1da1f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  padding: 20px 40px;
  background: white;
  overflow: auto;
}

.post__content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.post__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  align-self: stretch;
}

@media (max-width: 600px) {
  .post {
    flex-direction: column;
    row-gap: 20px;
  }

  .post__content {
    row-gap: 20px;
  }
}
